@font-face {
  src: url(/Font/ka1.ttf);
  font-family: "ka1";
}
@font-face {
  src: url(font/good\ times\ rg.ttf);
  font-family: "Goodtimes";
}

body {
  background-image: url(Educational/Educationalbg.png);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.home-button {
  position: absolute;
  top: 12%;
  left: 5%;
  padding: 0%;
  margin: 0%;
  transform: translate(-50%, -50%);
}

.neon-text8 {
  position: absolute;
  top: 22%;
  left: 5%;
  transform: translate(-50%, -50%);
  margin: 0%;
  padding: 0 20px;
  font-family: "ka1";
  font-size: 1em;
  color: #fff;
  text-shadow: 0 0 20px #20e2e6;
}

.neon-text8:after {
  content: attr(data-text8);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #023788;
  filter: blur(15px);
}

.neon-text8:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #023788;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

.ed-text1 {
  position: relative;
  top: 14.8em;
  width: 997px;
  left: 11.4%;
  margin: 0%;
  padding: 0 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: justify;
  font-family: "Goodtimes";
  color: #fff;
  font-size: 0.8em;
  text-shadow: 0 0 20px #eeaf9d;
  background: #a86dde69;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ed-text1:after {
  content: attr(data-text8);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #e15546;
  filter: blur(15px);
}

.ed-text1:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #e15546;
  z-index: -2;
  opacity: 0.5;
  filter: blur(15px);
}

.divuniversity1 {
  position: relative;
  width: 997px;
  top: 10.6em;
  left: 11.4%;
  margin: 0%;
  padding: 0 20px;
  border: 2px solid #a86dde00;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #a86dde69;
}

.educulogo1 {
  float: left;
  top: 10%;
  width: 70px;
  border-radius: 30%;
  border: 8px solid #a86dde00;
}

.ucutext1 {
  text-indent: 50px;
  margin: 0%;
  padding: 0 20px;
  text-align: justify;
  font-family: "Goodtimes";
  color: #fff;
  font-size: 1.5em;
  text-shadow: 0 0 20px #20e206;
}

.ucutext1:after {
  content: attr();
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #609474;
  filter: blur(15px);
}

.ucutext:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #609474;
  z-index: -2;
  opacity: 0.5;
  filter: blur(40px);
}

.unidisc1 {
  margin: 1%;
  padding: 0 20px;
  text-align: justify;
  font-family: "Goodtimes";
  color: #fff;
  font-size: 0.8em;
  text-shadow: 0 0 20px #eeaf9d;
}

.unidisc1:after {
  content: attr();
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #e15546;
  filter: blur(15px);
}

.unidisc1:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #e15546;
  z-index: -2;
  opacity: 0.5;
  filter: blur(15px);
}

.uculogo1 {
  float: left;
  top: 10%;
  padding: 0 10px 0 0;
  width: 87px;
  border-radius: 30%;
  border: 8px solid #a86dde00;
}

.divpictures {
  position: absolute;
  display: grid;
  left: 58%;
  height: 360.2px;
  transform: translate(206.3%, 47.2%);
  border: 2px solid #a86dde00;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #a86dde69;
}

.profpic1 {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 8px solid #a86dde00;
}

.profpic2 {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 8px solid #a86dde00;
}

.profpic3 {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  border: 8px solid #a86dde00;
}

.educationtext-1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0%;
  padding: 0 20px;
  font-family: "Goodtimes";
  font-size: 2.5em;
  color: #fff;
  text-shadow: 0 0 20px #eb4e1e;
}

.educationtext-1:after {
  content: attr(data-text7);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #ec3801;
  filter: blur(15px);
}

.educationtext-1:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #ec3801;
  z-index: -2;
  opacity: 0.5;
  filter: blur(15px);
}

.prof-text1 {
  position: relative;
  width: 825.8px;
  top: 14em;
  left: 11.4%;
  margin: 0%;
  padding: 0 20px;
  text-align: justify;
  text-indent: 20%;
  font-family: "Goodtimes";
  color: #fff;
  font-size: 0.8em;
  text-shadow: 0 0 20px #eeaf9d;
  border: 2px solid #a86dde00;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: #a86dde69;
}

.prof-text1:after {
  content: attr(data-text8);
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  z-index: -1;
  color: #e15546;
  filter: blur(15px);
}

.prof-text1:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #e15546;
  z-index: -2;
  opacity: 0.5;
  filter: blur(15px);
}
